html {
    height: 100%;
    width: 100%;
  }

  div, button {
    margin: 4px;
    font-size:larger;
  }

  .footer {
    margin: 0;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #EEEEEE;
  }

  div .mouse {
    width: 150px;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    float: left;
    padding: 30px;
    text-align: center;
    background-color: lightgray;
  }
  
  h3 .mouse {
    background-color: white;
  }
